@page "/"
@using BlazorStrap

<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>

Welcome to your new app.

<BSAlert Color="BSColor.Secondary">How is BlazorStrap working for you!</BSAlert>
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
